/**
* file: style.css
* @author: Md. Maniruzzaman Akash<manirujjamanakash@gmail.com>
*/

body {
    font-family: 'Nunito', sans-serif;
}

.app-container {
    margin-top: 1%;
}

.center {
    margin: 0;
    text-align: center;
}

.feature-list li {
    text-align: left!important;
}